<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <appSettings>
      <add key="DEFAULT_COUNTRY" value="JAPAN"/>
      <add key="BRAND_NAME" value="JPMorgan Chase &amp; Co. "/>
      <add key="ERROR_COLOR" value="RED"/>
      <add key="PIVOT_COLUMN_X" value="Asset Under Custody"/>
      <add key="PIVOT_COLUMN_Y" value="New RFP Assignment"/>
      <add key="PIVOT_COLUMN_Z" value="Asset Under Custody"/>
      <add key="COUNTRY_COLUMN" value="CARR Country of Domicile"/>
    </appSettings>
</configuration>
